body {
  font-family: "Open Sans", sans-serif;
}

input {
  font-size: 4em;
  width: 100%;
  text-align: center;
}

/* Swiper Styling */
.swiper {
  background: red;
}

.swiper-wrapper {
  background: green;
}

.swiper-slide {
  background: blue;
}

.swiper-slide video {
   object-fit: cover;
  width: 100%;
}